@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header{
    background-color: #1F2937;
    color: white;
    display: flex;
}

ul{
    list-style: none;
    display: flex;
}

ul a{
    color: white;
    text-decoration: none;
}

.container-one {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.img-plc {
    width: 50%;
    height: 300px;
    background-color: #6D747D;
}

.container-two {

}

.container-three {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: white;
    font-size: 10px;
}