@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: centera;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 810px;
}

.logo {
    font-weight: 900;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

ul a{
    color: white;
    text-decoration: none;
    font-size: .8rem;
}

h1 {
    padding: 0px;
    margin: 0px;
}

.container-one {
    display: flex;
    flex: 1 1 auto;
    width: 100vw;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 30px 0px;
}

.box-c-one{
    display: flex;
    background-color: #1F2937;
    color: white;
    flex: 0 0 810px;
    gap: 50px;
}

.in-box-c-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex

}

.in-box-c-one p {
    padding: 0px;
    margin: 0px;
}

.img-plc {
    display: flex;
    flex: 0 0 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;

}

#sign-up-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 30%;
}

.container-two {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.container-two h2 {
    font-size: 30px;
    font-weight: extra-bold;
    color: #1F2937;
    margin: 30px;

}

.card-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 810px;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

}

.card-plc {
    height: 130px;
    width: 130px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.card .card-text {
    text-align: center;
    font-size: 14px;
    width: 130px;
    color: rgba(0, 0, 0, 0.74);
    
}

.container-three {
    display: flex;
    flex: 0 0 auto;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px;
}

.box-c-three {
    display: flex;
    flex: 0 0 auto;
    width: 680px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

}

.quote {
    font-size: 30px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.60);
}

span {
    font-weight: lighter;
}

.quote-mention {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.container-four {
    display: flex;
    justify-content: center;
    color: white;
    padding: 70px;
}

.box-c-four {
    display: flex;
    flex: 0 0 810px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #3882F6;
    
}

.box-c-four h3 {
    padding: 0px;
    margin: 0px;
}

.box-c-four p {
    padding: 0px;
    margin: 0px;
}

#sign-up-btn-two {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1F2937;
    color: white;
    font-size: 10px;
}